.advantages {
  background-color: var(--bg-gray);
  height: 309px;
  display: flex;

  &__cotainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    img {
      height: 209px;
      width: 209px;
    }

    p {
      padding-left: 20px;
      padding-right: 110px;
    }

    &:first-child {
      margin-left: 90px;

      p {
        padding-right: 35px;
      }
    }

    &:last-child {
      margin-left: 16px;
    }
  }
}

@include small-tablet {
  .advantages {
    height: auto;

    &__cotainer {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 72px;
      padding-bottom: 73px;
      gap: 54px;
    }

    &__item {
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      flex-direction: column;

      img {
        height: 309px;
        width: 309px;
      }

      p {
        padding-top: 31px;
        padding-left: 0;
        padding-right: 0;
      }

      &:first-child {
        margin-left: 0;

        p {
          padding-right: 0;
        }
      }

      &:last-child {
        margin-left: 0;
      }
    }

  }
}
