.advantages {
  background-color: var(--bg-gray);
  height: 309px;
  display: flex;

  &__cotainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: none;


  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    flex: 1 50%;
    max-width: 518px;

    img {
      height: 209px;
      width: 209px;
    }

    p {
      padding-left: 20px;
      // padding-right: 40px;
    }

    &:first-child {
      // margin-left: 90px;
      // padding-right: 15px;

      p {
        padding-right: 0px;
      }
    }

    &:last-child {
      margin-left: 28px;

    }
  }
}

@include small-tablet {
  .advantages {
    height: auto;

    &__cotainer {
      // padding-top: 71px;
      // padding-bottom: 73px;
      padding: 48px 24px;
      gap: 33px;
      flex-direction: column;
    }

    &__item {
      font-size: 18px;
      line-height: 23.4px;
      text-align: center;
      flex-direction: column;

      img {
        height: 209px;
        width: 209px;
      }

      p {
        padding-top: 18px;
        padding-left: 0;
        padding-right: 0;
      }

      &:first-child {
        margin-left: 0;

        p {
          padding-right: 0;
        }
      }

      &:last-child {
        margin-left: 0;
      }
    }

  }
}
