.forms {
  height: 265px;
  display: flex;

  &__container {
    padding: 21px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    height: 100%;
    // gap: 110px;
    gap: 8.6%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    margin: 44px 50px;
    text-align: center;

    img {
      height: 96px;
      width: 96px;
      min-width: 96px;
    }

    p {
      margin-top: 15px;
      min-width: 145.5px;
    }
  }
}

@include small-tablet {
  .forms {
    height: auto;

    &__container {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 71px;
      padding-bottom: 76px;
      gap: 50px;
    }

    &__item {
      font-size: 30px;
      margin: 0;

      img {
        height: 120px;
        width: 120px;
      }

      p {
        margin-top: 17px;
      }
    }
  }
}

