.header {
  background-color: var(--primary);
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    display: flex;
    width: 100%;
  }

  &__logo {
    padding-left: 17px;
  }

  &__nav {
    color: var(--light-color);
    display: flex;
    // justify-content: center;
    // gap: 10px;
    // align-items: center;
    flex: 1;
    position: relative;
  }

  &__list {
    display: flex;
    // align-items: center;
    width: 100%;
    gap: 80px;
    margin: 0;
  }

  &__item {
    color: white;
    margin: auto 15px;
    font-size: 20px;
    line-height: 22.4px;
    text-align: center;

    &:first-child {
      max-width: 200px;
    }
  }

  &__lang {
    height: 79px;
    width: 72px;
    position: absolute;
    right: 0;
    transform: translate(-23%, 23%);
  }
}
