.header {
  background-color: var(--primary);
  height: 145px;
  display: flex;
  flex-direction: column;
  z-index: 3;

  &__container {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 3;
    padding-top: 14px;
    padding-left: 31px;
  }

  &__logo {
    cursor: pointer;
    max-width: 100%;
    // height: 120px;
  }

  &__nav {
    color: var(--light-color);
    display: flex;
    flex: 1;
    position: relative;
    height: 50%;
    transform: translateY(45%);
  }

  &__list {
    display: flex;
    width: 100%;
    gap: 76px;
    align-items: center;
    margin: 0;
    padding-right: 90px;
  }

  &__item {
    color: white;
    margin: auto 15px;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    transition: color .2s linear;
    margin: 0;

    &:hover {
      color: var(--text)
    }

    &:first-child {
      max-width: 200px;
    }

    &:last-child {
      margin-left: 51px;
    }
  }

  &__lang {
    height: 79px;
    width: 72px;
    position: absolute;
    right: 0;
    transform: translate(-45%, 25%);
  }

  &__mobile {
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    display: none;
    left: 0;
    top: 143px;
    border-top: 1px solid #ccc;
    transform: translateY(-300%);
    z-index: 0;
    transition: transform 0.5s ease-in-out;
  }

  &__burger-toggle {
    background-color: #fff;
    height: 4px;
    width: 48px;
    position: absolute;
    right: 10px;
    right: 100px;
    top: 0;
    transform: translate(160%, 1749%);
    cursor: pointer;
    display: none;

    &::after,
    &::before {
      content: '';
      height: 4px;
      width: 32px;
      background-color: #fff;
      position: absolute;
      top: 13px;
      right: 0;
    }

    &::before {
      width: 48px;
      top: -13px;
    }
  }

  &__mobile-nav {
    height: 100%;
    font-weight: 500;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 38px;
      padding-top: 20px;
      padding-bottom: 18px;
    }

    li {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__mobile-lang {
    border-top: 1px solid #ccc;
    color: var(--light-color);
    font-size: 24px;
    font-weight: 500;
    padding: 30px 0;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      height: 51px;
      width: 61px;
      margin-right: 15px;
    }
  }
}

.header-open {
  transform: translateY(0%);
}

.header-close {
  transform: translateY(-300%);
}

@include small-tablet {
  .header {
    &__logo {
      padding-top: 25px;
      padding-left: 10px;
      height: 120px;
    }

    &__nav {
      display: none;
    }

    &__lang {
      display: none
    }
  }
}

@include tablet {
  .header {
    &__nav, &__lang {
      display: none;
    }

    &__container {
      justify-content: space-between;
    }

    &__mobile, &__burger-toggle {
      display: block;
    }

    &__item {
      &:first-child {
        max-width: 250px;
        padding-top: 0;
      }
    }
  }
}
