.header {
  padding-left: 31px;
  background-color: var(--primary);
  height: 145px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__container {
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 14px;
    z-index: 3;
  }

  &__inner {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 3;

  }

  &__logo {
    cursor: pointer;
    max-width: 100%;
    position: relative;
    // height: 120px;
  }

  &__nav {
    color: var(--light-color);
    display: flex;
    flex: 1;
    position: relative;
    height: 50%;
    transform: translateY(45%);
  }

  &__list {
    display: flex;
    width: 100%;
    // gap: 76px;
    gap: clamp(0px, 12%, 76px);
    align-items: center;
    margin: 0;
    padding-right: 90px;
  }

  &__item {
    color: white;
    margin: auto 15px;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    transition: color .2s linear;
    margin: 0;

    &:hover {
      color: var(--text)
    }

    &:first-child {
      max-width: 200px;
    }

    &:last-child {
      // margin-left: 51px;
      margin-left: clamp(0px, 4vw, 51px);
    }
  }

  &__lang {
    height: 79px;
    width: 72px;
    position: absolute;
    right: 0;
    transform: translate(-45%, 25%);
  }

  &__mobile {
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    display: none;
    left: 0;
    top: 96px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    transform: translateY(-300%);
    z-index: 0;
    transition: transform 0.5s ease-in-out;
  }

  &__burger-toggle {
    background-color: transparent;
    border: none;
    height: 44px;
    width: 44px;
    position: absolute;
    // right: 10px;
    // right: 100px;
    right: clamp(10px, 25vw, 100px);
    top: 0;
    transform: translate(143%, 60%);
    cursor: pointer;
    display: none;

    div {
      background-color: #fff;
      height: 3px;
      width: 100%;
      position: relative;

      &::after,
      &::before {
        content: '';
        height: 3px;
        // width: 32px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 11px;
        right: 0;
        width: 21px;
      }

      &::before {
        top: -11px;
        width: 100%;
      }
    }
  }

  &__mobile-nav {
    height: 100%;
    font-weight: 500;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      // padding: 20px 40px 18px;
      padding: 8px 24px;
    }

    li {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__mobile-lang {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--light-color);
    font-size: 16px;
    font-weight: 500;
    // padding: 30px 0;
    padding: 12px 24px;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      height: 46px;
      width: 36px;
      margin-right: 8px;
      object-fit: contain;
    }
  }
}

.header-open {
  transform: translateY(0%);
}

.header-close {
  transform: translateY(-300%);
}



@include tablet {
  .header {
    padding-left: 0;

    &__nav, &__lang {
      display: none;
    }

    &__container {
      justify-content: space-between;
      padding: 16px;
    }

    &__mobile, &__burger-toggle {
      display: block;
    }

    &__mobile {
      top: 145px;
    }

    &__burger-toggle {
      transform: translate(143%, 118%);
    }

    &__item {
      &:first-child {
        max-width: 250px;
        padding-top: 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

@include small-tablet {
  .header {
    height: 96px;

    &__container {
      height: 100%;
      align-items: center;
    }

    &__logo {
      width: 256px;
      height: 70px;
    }

    &__nav {
      display: none;
    }

    &__lang {
      display: none
    }

    &__burger-toggle {
      transform: translate(143%, 60%);
    }

    &__mobile {
      top: 96px;
    }
  }
}

