.moreInfo {
  background-color: var(--primary);
  height: 182px;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    display: inline-block;
    height: 76px;
    color: rgb(255, 255, 255);
    vertical-align: top;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 4px 15px;
    font: 500 22px / 68px e-Ukraine;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: all 0.2s linear 0s;

    &:hover {
      background-color: var(--primary-yellow);
      color: var(--primary);
    }
  }

  &__mobile {
    display: none;
  }
}

@include small-tablet {
  .moreInfo {
    height: 288px;
    // height: auto;

    &__mobile {
      display: block;
    }

    a {
      height: auto;
      padding: 32px 50px;
      line-height: 38px;
      font-size: 32px;
    }
  }
}
