<header class="header">
  <div class="container header__container">
    <img class="header__logo" src="../img/logo.svg" alt="logo">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="#">Спеціальності та спеціалізації</a></li>
        <li class="header__item"><a href="#">Переваги</a></li>
        <li class="header__item"><a href="#">Реєстрація</a></li>
      </ul>
      <img class="header__lang" src="../img/pl-lang.png" alt="lang">
    </nav>
  </div>
</header>
