<section class="hero">
  <div class="hero__container">
    <!-- <div class="hero__img"></div> -->
    <picture>
      <source srcset="" type="image/webp">
      <img class="img" src="../img/hero-bg.png" alt="img" data-graph-path="gallery">
    </picture>
    <div class="hero__text">
      <p class="hero__innertext"><span>Вступай до</span> польського університету прямо зараз!</p>
      <div class="hero__circle">
        <p>Без <span>ЗНО та</span> НМТ!</p>
      </div>
    </div>
  </div>
</section>
