<section class="perspectives">
  <div class="container perspectives__container">
    <p class="perspectives__title">Європейські перспективи</p>
    <div class="perspectives__grid">
      <div class="perspectives__item">
        <img src="../img/perspectives-1.png" alt="perspectives_1">
        <p>Польский диплом державного зразка</p>
      </div>
      <div class="perspectives__item">
        <img src="../img/perspectives-2.png" alt="perspectives_2">
        <p>Посвідка на постійне проживання</p>
      </div>
      <div class="perspectives__item">
        <img src="../img/perspectives-3.png" alt="perspectives_3">
        <p>Дозвіл на роботу в Польщі, Чехії та Німеччині</p>
      </div>
    </div>
  </div>
</section>
