<section class="specialist">
  <div class="container specialist__container">
    <!-- <div class="specialist__bg"></div> -->
    <picture class="specialist__bg">
      <source srcset="" type="image/webp">
      <img class="img" src="../img/specialist-bg.png" alt="img" data-graph-path="gallery">
    </picture>
    <div class="specialist__lists">
      <div class="specialist__list">
        <p class="specialist__list-title">Спеціальності</p>
        <ul>
          <li>Внутрішня безпека</li>
          <li>Право</li>
          <li>Психологія</li>
        </ul>
        <p class="specialist__list-price">Вартість навчання: <br>від 400 євро/рік</p>
      </div>
      <div class="specialist__list">
        <p class="specialist__list-title">Спеціалізації</p>
        <ul>
          <li class="">Антикризове управління</li>
          <li class="">Управління системами безпеки, кризове управління</li>
          <li class="">Економічна безпека</li>
          <li class="">Кібербезпека</li>
          <li class="">Безпека міжнародних відносин та туризму</li>
          <li class="">Клінічна психологія з  психотерапією</li>
          <li class="">Системна психологія</li>
          <li class="">Психологія нових технологій</li>
          <li class="">Психологія управління бізнесу</li>
          <li class="">Безпека міжнародних відносини та туризму</li>
          <li class="">Клінічна психологія з психотерапією</li>
          <li class="">Системна психологія</li>
          <li class="">Психологія нових технологій</li>
          <li class="">Психологія управління бізнесу</li>

        </ul>
      </div>
      <div class="specialist__list-priceMob">
        <span>Вартість навчання: від 400 євро/рік</span>
      </div>
    </div>
  </div>
</section>
