// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "e-Ukraine", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --primary: #833236;
  --primary-blue: #005AA0;
  --primary-yellow: #FFD738;
  --text-primary: #a72c32;
  --text: #232323;
  --bg-gray: #EBECE7;
  --footer-bg: #1B334E;

}
